body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  background-color: grey;
}

h1 {
  font-weight: lighter;
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 0px;
}

.inputSection {
  margin: 50px 0px 80px 0px;
  width: 400px;
}

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 10px;
}

.addOption {
  margin-top: 10px;
}

.submit {
  margin-bottom: 30px;
}

h2 {
  font-weight: lighter;
  font-size: 30px;
  letter-spacing: 2px;
  margin-bottom: 0px;
  color: white;
  background-color: black;
  }

button {
  background-color: black; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
